Package: serial-channel-jni-lib
Version: 1.0.4
Architecture: arm64
Maintainer: Timo Vesalainen <timo.vesalainen@iki.fi>
Installed-Size: 33
Depends: libc6 (>= 2.17)
Section: java
Priority: optional
Description: SerialChannel.jar JNI library
 A JNI library containing native methods of org.vesalainen.comm
 java jar
